# Sean Kaliszewski
## Week 8 - 3/14/21
### Python Functions Continued

In [1]:
def full_name(fname,lname):
    return fname + '' + lname

In [3]:
full_name('Sean', ' Kaliszewski')

'Sean Kaliszewski'

In [8]:
# find a number is prime
def is_prime(num):
    '''
    This Function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return 'is not prime'
    else:
        return 'is prime'

In [9]:
is_prime(16)

'is not prime'

In [10]:
# find a number is prime
def is_prime(num):
    '''
    This Function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            print(num, 'is not prime')
            break
    else:
        print(num, 'is prime')

In [11]:
is_prime(15)

15 is not prime

In [12]:
is_prime(7)

7 is prime

In [13]:
is_prime(11)

11 is prime

In [14]:
#min_two_odds (3,5) --> 3
#min_two_odds (4,9) --> 9
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 !=0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [15]:
min_two_odds(9,3)

3

In [16]:
min_two_odds(9,2)

9

In [20]:
#check if two-word string starts with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [21]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [22]:
two_words_letters('Python Program')

True

In [24]:
two_words_letters('Java Program')

False

In [27]:
#reduce
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [28]:
two_words_letters('Java Program')

False

In [29]:
two_words_letters('Python Program')

True

In [30]:
#create_thirty(10,30) --> true
#create_thirty(5,30) --> true
#create_thirty(5,20) --> false
def create_thirty(num1,num2):
    if (num1 + num2) == 30:
        return True
    elif num1 == 30:
        return True
    elif num2 == 30:
        return True
    else:
        return False

In [31]:
create_thirty(10,30)

True

In [32]:
create_thirty(5,30)

True

In [33]:
create_thirty(5,20)

False

In [34]:
#reduce
def creat_thirty(num1,num2):
    return (num1+num2) == 30 or num1 == 30 or num2 == 30

In [35]:
create_thirty(10,30)

True

In [36]:
create_thirty(5,30)

True

In [37]:
create_thirty(5,20)

False

In [38]:
#'programming' --> ProGramming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [39]:
w[:3]

'mac'

In [41]:
part1 = w[:3].capitalize()

In [44]:
part2 = w[3:].capitalize()

In [45]:
part1 + part2

'MacDonald'

In [52]:
def caps_two_letters(word):
    if len(word) >3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'sorry, the word is too small'

In [53]:
caps_two_letters('program')

'ProGram'

In [54]:
caps_two_letters('macdonald')

'MacDonald'

In [55]:
caps_two_letters('cis')

'sorry, the word is too small'

In [59]:
#Reverse a statement
str1 = 'I am home'
lst = str1.split()

In [60]:
lst

['I', 'am', 'home']

In [67]:
#lst.reverse()
lst[::-1]

['I', 'am', 'home']

In [62]:
lst

['home', 'am', 'I']

In [63]:
' '.join(lst)

'home am I'

In [68]:
def rv_stat(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(txt.split()[::-1])

In [69]:
rv_stat("I am home")

'home am I'

In [70]:
#Check if a list has number 5 next to number 5 somewhere in the list
#[3,4,5,5,10] --> true
#[3,4,5,6,5,8,] --> false
def has_55(lst):
    for i in range(0, len(lst)-1):
        if lst[i] == 5 and lst[i+1] ==5:
            return True
        
    return False

In [71]:
has_55([3,4,5,5,10])

True

In [72]:
has_55([3,4,5,6,5,8,])

False

In [73]:
# check code 001 in a list
# [1,4,5,0,0,1,8] --> true
# [1,0,2,5,0,6,1,8] --> true
# [1,5,6,0,6,7,8,0] --> false
def check_code(lst):
    code = [0,0,1,'s']
    for num in lst:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [74]:
check_code([1,4,5,0,0,1,8])

True

In [75]:
check_code([1,0,2,5,0,6,1,8])

True

In [76]:
check_code([1,5,6,0,6,7,8,0])

False

In [77]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [78]:
code.pop(0)
code

[1, 's']

In [79]:
#Number of arguments
def full_name(fname,lname):
    print(fname + " " + lname)
    
full_name('Sean', 'Kaliszewski')

Sean Kaliszewski

In [81]:
def full_name(*names):
    if(len(names) == 1):
        print(names[0])
    else:
        print(names[0] + " " + names[1])
    
full_name('Sean', 'Kaliszewski')

Sean Kaliszewski

In [82]:
full_name('Sean')

Sean

In [83]:
def sum_nums(a,b):
    return sum((a,b))

In [84]:
sum_nums(10,15)

25

In [86]:
sum_nums(15)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [87]:
def sum_nums(*n):
    return sum(n) * 0.1

In [88]:
sum_nums(15)

1.5

In [89]:
sum_nums(15,10,9)

3.4000000000000004

In [90]:
def my_kids(child1,child2,child3):
    print('my first child ' + child1 + ', my second child ' + child2 + ', my third child ' + child3)

In [91]:
my_kids('Emil', 'Jon', 'Alice')

my first child Emil, my second child Jon, my third child Alice

In [92]:
my_kids('Jon', 'Emil', 'Alice')

my first child Jon, my second child Emil, my third child Alice