# Sean Kaliszewski
## Week 9 - 3/16/21
### Python - Lambda Function

In [1]:
def double(num):
    return num * 2
print(double(3))

6

In [2]:
def sqaure(x):
    return x**2
print(5)

5

In [3]:
double = lambda x:x*2
print(double(4))

8

In [4]:
#find larger number using lambda function
larger = lambda a,b: a if a > b else b
print(larger(5,10))

10

In [5]:
#higher-order functions, such as map(), filter(), sort(), etc
nums = [1,2,3,4,5,6,7]
map(sqaure,nums)

In [8]:
mylist = list(map(sqaure,nums))

In [9]:
mylist

[1, 4, 9, 16, 25, 36, 49]

In [10]:
for item in map(sqaure,nums):
    print(item)

1
4
9
16
25
36
49

In [11]:
def evenwords(w):
    if(len(w)%2 == 0):
        return "EVEN"
    else:
        return w[0:2]
    
evenwords("Dodge")

'Do'

In [13]:
words = ["Ford", "Nissan", "GMC", "Mazda", "Dodge", "BMW"]
list(map(evenwords,words))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [14]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49]

In [15]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [16]:
list(map(lambda w:w[0], words))

['F', 'N', 'G', 'M', 'D', 'B']

In [17]:
list(map(lambda w:w[::-1], words))

['droF', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB']

In [18]:
def even(num):
    return num%2 == 0
even(5)

False

In [19]:
even(8)

True

In [20]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [21]:
filter(even,nums)

In [22]:
list(filter(even,nums))

[2, 4, 6]

In [23]:
list(filter(lambda x:x%2==0,nums))

[2, 4, 6]

In [24]:
list(map(lambda x:x%2==0,nums))

[False, True, False, True, False, True, False]

In [25]:
# lambda with sort
names = ["Alan", "Gregory", "Zlatan", "Bob", "Tara", "Bria", "Ryan", "Koby"]
names.sort()

In [26]:
names

['Alan', 'Bob', 'Bria', 'Gregory', 'Koby', 'Ryan', 'Tara', 'Zlatan']

In [28]:
# change the key to sort based on the length of the name
names.sort(key = lambda n:len(n))

In [29]:
names

['Bob', 'Alan', 'Bria', 'Koby', 'Ryan', 'Tara', 'Zlatan', 'Gregory']